.weatherAppWrapper {
  background: url(./images/pinkclouds.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 800px;
}

.weatherApp {
  margin: 20px auto;
  border: 1px solid transparent;
  max-width: 500px;
}

footer {
  font-size: 16px;
  font-weight: 100;
  color: white;
  background-color: #fff6ec4f;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 2px;
}

footer a:hover {
  text-decoration: none;
  color: #434e54;
}
