:root {
  --primary-color: #fff6ec;
  --seconday-color: #d28d90;
  --text-color: #434e54;
  --default-font: "Roboto", sans-serif;
  --seconday-font: "Montserrat", sans-serif;
}

body {
  background: var(--primary-color);
  font-family: var(--default-font);
  margin: 0 auto;
  padding: 0 auto;
}

.city {
  color: var(--primary-color);
  font-family: var(--seconday-font);
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
  margin-top: 50px;
}

.main-elements {
  display: flex;
  justify-content: space-evenly;
}

.weatherAppWrapper {
  background: url(./images/pinkclouds.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 400px;
}

.weatherApp {
  border: 1px solid transparent;
  margin: 20px;
  max-width: 500px;
}

.currentCity,
.dailyForecast {
  background: #fff6ec4f;
  border: 1px solid transparent;
  border-radius: 0px;
  max-width: 500px;
  margin: 20px 0;
  text-align: center;
}

li,
.PopularCities,
.dailyForecast {
  color: var(--text-color);
}

.PopularCities {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  margin-bottom: 20px;
}

#sydney,
#tokyo,
#london,
.icon {
  background-color: #fff6ec4f;
  border: 1px solid transparent;
  color: var(--text-color);
  text-transform: uppercase;
}

#sydney,
#tokyo,
#london {
  font-family: var(--seconday-font);
  font-weight: 400;
}

#sydney:hover,
#tokyo:hover,
#london:hover {
  color: var(--primary-color);
}

.goButton:hover,
#current-location:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.goButton,
#search-bar,
#current-location {
  font-size: 18px;
  padding: 3px 5px;
  text-transform: uppercase;
  background-color: #fff6ec4f;
  border: 1px solid transparent;
  color: var(--primary-color);
}

#search-bar {
  width: 75%;
}

::placeholder {
  color: var(--primary-color);
}

.weatherConditons,
#search-form {
  display: flex;
  justify-content: space-between;
}

.time,
#description {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 100;
  line-height: 40px;
}

#temperature {
  color: var(--text-color);
  font-size: 60px;
  font-weight: 100;
}

.units {
  color: var(--text-color);
  position: relative;
  font-size: 20px;
  font-weight: normal;
  top: -32px;
}

.weatherConditons li,
.description li {
  list-style: none;
  line-height: 10px;
  margin: auto;
}

.time,
.weatherConditons,
h1 {
  text-align: left;
}

.tempIcon {
  color: var(--text-color);
  font-size: 40px;
  margin-bottom: 20px;
}

.weatherConditon {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 100;
}

.dailyForecast-Min {
  opacity: 0.7;
  margin-left: 5px;
}

.icon {
  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
}
