:root {
  --primary-color: #fff6ec;
  --seconday-color: #d28d90;
  --text-color: #434e54;
  --default-font: "Roboto", sans-serif;
  --seconday-font: "Montserrat", sans-serif;
}

body {
  background: var(--primary-color);
  font-family: var(--default-font);
  margin: 0 auto;
  padding: 0 auto;
}
